.reccContainer {
    max-width: 90%;
    scroll-margin-top: 75px;
    padding-bottom: 50px;
}

.buttonsrecc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reccList {
    list-style: none;
}

.reccTitle {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: black;
}

.reccOrig {
    opacity: 0;
}

.reccAnim {
    animation: fadeInFromLeftImg 0.5s ease-in-out forwards;
}

.modal-backdrop {
    --bs-backdrop-bg: rgb(0 0 0 / 30%) !important;
}